body {
  font-family: "Open Sans", sans-serif;
}
.banner {
  text-align: right;
  padding: 216px 220px 200px 186px;
}
.banner-title {
  color: #151414;
  font-size: 50px;
}
.banner-description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
button {
  border-radius: 5px;
  background: #f15b22;
  border: 0;
  color: #fff;
  font-size: 15px;
  padding: 18px 22px;
  font-weight: 600;
  line-height: normal;
}
.header {
  background: url("images/banner/banner1.png");
  background-repeat: no-repeat;
}
.first-sec {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  padding: 0;
  align-items: center;
}
.failure-content {
  margin: 200px 322px 100px 200px;
}
.failure-content li {
  list-style: none;
}
.failure-content li:before {
  content: "✓";
  color: #16d887;
  margin-right: 5px;
}
.failure-title {
  color: #151414;
  font-size: 40px;
  margin-bottom: 12px;
}
.failure-description {
  color: #444343;
  font-size: 14px;
  line-height: 26px;
}
.li-content {
  color: #444343;
  font-size: 12px;
  line-height: 26px;
}
.second-sec-title {
  text-align: center;
  color: #151414;
  font-size: 40px;
}
.whole-plan-container {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}
.icon {
  width: 92.958px;
  height: 92.958px;
}
.plan-title {
  color: #151414;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
}
.plan-des {
  color: #737272;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
.positive-title {
  color: #fff;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  padding: 30px;
  padding-bottom: 0;
}
.call {
  color: #f15b22;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
  margin: 30px;
  margin-top: 0;
  padding: 15px 25px;
}
.third-sec {
  background-image: linear-gradient(90deg, #e76836 0%, rgba(241, 91, 34, 0)),
    url("images/watch.png");
  background-repeat: no-repeat;
  border-radius: 8px;
  margin: 100px 230px;
  width: 1000px;
  height: 300px;
}
.finish-sec {
  display: flex;
  justify-content: space-around;
  background: #151414;
  color: white;
  padding: 130px 100px;
}
.contact input {
  display: block;
  margin-bottom: 20px;
  padding: 21px 158px 21px 22px;
  border: 1px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: #151414;
  margin-right: 45px;
}
.last-btn {
  color: #f15b22;
  font-size: 10px;
  font-weight: 600;
}
